.carousel-image-container::before {
    content: "";
    z-index: 3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background: linear-gradient(90deg, rgba(31, 41, 55, 1) 0%, rgba(71, 85, 105, 0) 100%);
}
.carousel-image-container{
    width: 950px;
}
.carousel-container {
    padding: 80px;
    height: 100%;
    min-height: 475px;
}
@media (max-width:930px) {
    .carousel-image-container{
        width: 100%;
    }
    
}
@media (max-width: 640px) {
    

    .carousel-container {
        padding: 50px 20px 50px 20px;
    }
}

.hd-box {
    display: inline-flex;
    background-color: rgb(140, 180, 230);
    align-items: center;           
    justify-content: center;  
    border: 1px solid rgb(140, 180, 230);
    border-radius: 5px;
    font-weight: bold;
    color: #333;
    padding-left: 0.25rem ;
    padding-right: 0.25rem ;
}
.pg-box {
    display: inline-flex;
    background-color: white;
    align-items: center;           
    justify-content: center;  
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
    color: #333;
    padding-left: 0.25rem ;
    padding-right: 0.25rem ;
}
.episode-box {
    display: inline-flex;
    background-color: #b0e3af;
    align-items: center;           
    justify-content: center;  
    border: 1px solid #b0e3af;
    border-radius: 5px;
    font-weight: bold;
    color: #333;
    padding-left: 0.25rem ;
    padding-right: 0.25rem ;
}
.pink-box {
    display: inline-flex;
    background-color: #ffbade;
    align-items: center;           
    justify-content: center;  
    border: 1px solid #ffbade;
    border-radius: 5px;
    font-weight: bold;
    color: #333;
    padding-left: 0.25rem ;
    padding-right: 0.25rem ;
}
.border-box{
    display: inline-flex;
    align-items: center;           
    justify-content: center;  
    border: 1px solid ;
    border-radius: 5px;
    padding-left: 0.25rem ;
    padding-right: 0.25rem ;
}
.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .3);
    display: inline-block;
    margin: 10px 10px;
}
.dot-center {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .3);
    display: inline-block;
    margin: 9px 10px;
}

.cover-image{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    filter: blur(20px);
    opacity: .25;
}
.detail-page-image{
    height: 270px;
}
@media (min-width:1200px) {
    .detail-page-first-section{
        width: 20%;
    }
    .detail-page-mid-section{
        /* padding-left: 70px; */
        width: 50%;
    }   
    .detail-page-last-section{
        padding-left: 70px;
        width:30%
    }
}
@media (max-width:900px) and (min-width:650px) {
    .detail-page-first-section{
        width: 35% !important;
    }
}
@media (max-width:1200px) {
    .detail-page-first-section{
        width: 25%;
        display: flex;
      /* Horizontal centering */
    align-items: center;  
    }
    .detail-page-mid-section{
        width: 65%;
    }
    .detail-page-last-section{
        padding-top: 10px;
        width: 100%;
    }
    .detail-page-last-section-separator{
        display: none;
    }
    
}
@media (max-width: 650px) {
    .detail-page-image{
        height: 207px;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: auto;
    }
    .detail-page-first-section{
        width: 100%;
    }
    .detail-page-mid-section{
        padding-top: 10px;
        width: 100%;
    }
    .detail-page-last-section{
        padding-top: 10px;
        width: 100%;       
    }
    .pg-box{
        display: none;
    }
}
@media (max-width: 900px) {
    .characters-list {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important; /* 3 items per row */
    }
}
@media (max-width: 650px) {
    .characters-list {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important; 
        row-gap: 2rem;
    }
}
@media (max-width: 472px) {
    .characters-list {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important; 
        row-gap: 2rem;
    }
}

.characters-list {
    grid-template-columns: repeat(4, minmax(0, 1fr)); /* 4 items per row by default */
}